.task-card {
  background-color: #2e2e3f;
  padding: 1%;
  border-radius: 10px;
  color: white;
  width: 300px;
  /* margin: 10px; */
  position: relative;
  display: flex;
  flex-direction: column;
}


.task-card h3 {
  margin: 0; /* Remove top and bottom margin from the title */
  font-size: 1.2em;
}

.task-card p {
  margin: 5px 0 0 0; /* Set a small top margin, no bottom margin */
  font-size: 1em;
}

.task-date {
  font-size: 0.9em;
  color: #ccc; /* Lighten the color to make it distinct */
  margin-top: 5px; /* Adds slight separation from the description */
}


.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}


.completed {
  border-left: 5px solid #00e676;
}

.incomplete {
  border-left: 5px solid #ff5252;
}

.task-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-actions {
  display: flex;
}

.edit-btn,
.delete-btn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}



.status-toggle-btn {
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.completed-btn {
  background-color: #00e676; /* Green for Completed */
}

.incomplete-btn {
  background-color: #ff5252; /* Red for Incomplete */
}


.status-toggle-btn:hover {
  background-color: #0056b3;
}
